<main>
  <ngb-carousel id="section-banner">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/Bloodborn.jpg" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/God-of-War.jpg" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/the-last-of-us.jpg" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <h2>Jogos em Promoção</h2>
  <section id="cards">
  <mat-card class="example-card">
    <img mat-card-image src="../../assets/Bloodborn.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Jogo 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Descrição jogo 1
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMPRAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../../assets/God-of-War.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Jogo 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Descrição jogo 2
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMPRAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../../assets/the-last-of-us.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Jogo 3</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Descrição jogo 3
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMPRAR</button>
    </mat-card-actions>
  </mat-card>
  </section>
</main>
